# Đây là file Mẫu để push lên Github (Không chứa mật khẩu thật)
# Lập trình viên tải code về sẽ copy file này và đổi tên thành .env
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=your_host
POSTGRES_PORT=5432
